@inherits ShoppingCartComponent

<button class="navbar-brand fa-lg" data-toggle="modal" data-target="#@CheckoutModalTarget" @onclick="(e => Checkout())">
    <i class="fa fa-shopping-cart" data-count="@shoppingCartCount" aria-hidden="true"></i>
</button>